/* Add a black background color to the top navigation */
body {
    background-color: #FFF9FB;
}

h1, h2 {
    text-align: center;
}

p, form {
    text-align: left;
}

.loginform {
    float: right;
    padding: 15px;
    text-align: center;
}

.loginform form {
    clear: right;
}

.topnav {
    background-color: #262626;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #FFF9FB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #FFF9FB;
    color: black;
}

.topnav a.active {
    background-color: #A30000;
    color: white;
}



#Profiel {
    float: right;
}

#poster {
    width: 300;
}

.film{
    grid-area: film;
}

.flexbox {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 2em;
    margin-right: 2em;
    justify-content: space-evenly;
}

.flexbox img {
    width: 300px;
}

.flexbox-assortiment {
    display: flex;
    flex-flow: row wrap;
    margin-left: 2em;
    margin-right: 2em;
    justify-content: space-evenly;
}

.flexbox-assortiment img {
    width: 150px;
}