h3 {
    color: #fffbbd;
    text-align: center;
}

.button {
    border: none;
    color: #FFFBBD;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #93A8AC;
    min-width: 160px;
}

.button:hover {
    background-color: #A30000
}

main {
    margin: 0 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 150px 1fr 1fr;
    grid-template-areas: 
    "terug        terug   terug"
    "titel        .       poster"
    "beschrijving knoppen poster"
    "acteurs      .       poster"
}

main a{
    text-decoration: none;
    color: #fffbbdb4;
}

main a:hover {
    text-decoration: underline;
}

.terugknop {
    grid-area: terug;
}
.poster {
    grid-area: poster;
}

.titel {
    grid-area: titel;
}

.titel h1, .titel h2, .titel a p, .titel h3  {
    margin: 0px;
}

.beschrijving {
    grid-area: beschrijving;
}

.beschrijving h1, .beschrijving h2, .beschrijving p{
    text-align: left;
}

.knoppen {
    grid-area: knoppen;
    margin: auto;
}

.acteurgrid {
    grid-area: acteurs;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
}

.poster img {
    width: 28vw;
}

.acteurgrid img {
    width: 7vw;
}