/* Add a black background color to the top navigation */

body {
    background-color: #FFF9FB;
}

h1, h2, p, form {
    text-align: left;
}

.loginform {
    float: right;
    padding: 15px;
    text-align: center;
}

.loginform form {
    clear: right;
}

.topnav {
    background-color: #262626;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #FFF9FB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #FFF9FB;
    color: black;
}

.topnav a.active {
    background-color: #A30000;
    color: white;
}

#Profiel {
    float: right;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #262626;
}

main {
    margin: 0 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 1fr 1fr;
    grid-template-areas: 
    "titel        .       poster"
    "beschrijving knoppen poster"
    "acteurs      .       poster"
}

.poster {
    grid-area: poster;
}

.titel {
    grid-area: titel;
}

.beschrijving {
    grid-area: beschrijving;
}

.knoppen {
    grid-area: knoppen;
    margin: auto;
}

.acteurgrid {
    grid-area: acteurs;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: 222px 50px;
    column-gap: 10px;
    row-gap: 15px;
}

.poster img {
    width: 25vw;
}

.acteurgrid img {
    width: 150px;
}