main video {
    width: 90%;
    max-width: 90%;
    height: auto;
    margin-left: 49vw;
}

button {
    border: none;
    color: #FFFBBD;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 5px 5vw;
    background-color: #93A8AC;
}

button:hover {
    background-color: #A30000
}

h1 {
    text-align: left;
    margin-left: 5vw;
}

.button-right {
    float: right;
    margin-left: 0;
}
