/*                                                   
Achtergrond: #343330
Meeste andere elementen(behalve tekst) zoals balkjes e.d.: #262626
Tekst: #FFFBBD
Alles wat eruit moet springen: #DF2935
*/

@import url(/font/Roboto-Regular.ttf);
body {
    background-color: #343330;
}

h1, h2, p, form {
    text-align: center;
    color: #FFFBBD;
    padding: 1vh;
    font-family: 'Roboto', sans-serif;
}

.grid-container {
    display: grid;
    width: 100%;
    margin: 0 auto 0 auto;
    overflow: visible;
    grid-gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 'header header header header' 'title title title title' 'main main main main' 'registreren registreren loginform loginform ' 'footer footer footer footer';
    /* background-color: whitesmoke; */
}

header {
    grid-area: header;
    background-color: #262626;
    overflow: hidden;
    box-shadow: 2px 2px 4px black;
    margin-top: 0px;
    height: 5vh;
    width: 100%;
}

header a {
    float: left;
    color: #FFFBBD;
    text-align: center;
    padding: 1.5vh 1.5vh;
    text-decoration: none;
    font-size: 2vh;
}

.dropdown:hover .dropdown-content:hover+header a {
    background-color: #f1f1f1;
    color: black;
    box-shadow: 0px 0px 20px #FFFBBD;
}

header a:hover {
    background-color: #ddd;
    color: black;
    box-shadow: 0px 0px 20px #FFFBBD;
}

.dropdown {
    position: relative;
    overflow: visible;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.dropdown-content a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

#Profiel {
    float: right;
}

footer {
    grid-area: footer;
    margin-bottom: 0%;
    margin-top: 10vh;
    background-color: #262626;
    overflow: hidden;
    font-size: 2vh;
    text-align: center;
    margin-bottom: 0px;
}

footer a {
    color: #FFFBBD;
    text-decoration: underline;
    position: relative;
}

footer a::after {
    content: "";
    background: #FFFBBD;
    mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

footer a:hover::after {
    height: calc(100% + 8px);
}

footer p {
    margin: 0px;
    padding: 2px;
}

footer li {
    display: inline-block;
    list-style: none;
    padding-left: 2vh;
    padding-right: 2vh;
}

main {
    grid-area: main;
    padding: 1vh;
    margin-top: 3vh;
}

.title {
    grid-area: title;
    text-align: center;
    height: 1vh;
    line-height: 1vh;
    font-size: 2vh;
    padding: 5vh;
    margin-bottom: 2vh;
}

form {
    font-size: larger;
}

.registreerform {
    grid-area: registreren;
    float: right;
    background-color: #262626;
    text-align: center;
    box-shadow: 2px 2px 4px black;
    line-height: 3vh;
    font-size: 2.5vh;
    width: 45%;
    height: 25vh;
    margin-left: 20vw;
}

.loginform {
    grid-area: loginform;
    float: left;
    background-color: #262626;
    text-align: center;
    box-shadow: 2px 2px 4px black;
    line-height: 3vh;
    font-size: 2.5vh;
    width: 45%;
}

form input[type=text], [type=password] {
    border: none;
    transition: width 0.8s ease-in-out;
    box-sizing: border-box;
    margin-bottom: 2vh;
    width: 80%;
}


.loginform form input[type=text]:focus, .loginform input [type=password]:focus {
    border: 3px solid #A30000;
}

form input[type=submit] {
    background-color: #A30000;
    border: none;
    color: #FFFBBD;
    cursor: pointer;
    margin: 20px 0px;
    transition: color 0.4s, background-color 0.4s;
}

form input[type=submit]:hover {
    background-color: whitesmoke;
    color: #A30000;
    transition: color 0.4s, background-color 0.4s;
}

main video {
    margin-left: 50vw;
    transform: translate(-50%);
    max-width: 60%;
}

@media only screen and (max-width: 1300px) {
    header {
        height: 3vw;
    }
    header a {
        padding: 0.5vw;
        font-size: 2vw;
    }
}

@media only screen and (max-width: 720px) {
    header {
        height: 5vw;
    }
    header a {
        padding: 1vw;
        font-size: 3vw;
    }
    .dropdown-content a {
        padding: 1vw 1.2vw;
    }
}

@media only screen and (max-width: 480px) {
    header {
        height: 10vw;
    }
    header a {
        padding: 2vw;
        font-size: 5vw;
    }
    .dropdown-content a {
        padding: 2vw 2.4vw;
        max-width: 80px;
        overflow: hidden;
    }
}