/* Add a black background color to the top navigation */

body {
    background-color: #343330;
    color: #FFFBBD;
}

h1, h2, p, form {
    text-align: center;
}

.loginform {
    float: right;
    padding: 15px;
    text-align: center;
}

.loginform form {
    clear: right;
}

/* Header */
.topnav {
    background-color: #262626;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #FFF9FB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #FFF9FB;
    color: black;
}

.topnav a.active {
    background-color: #A30000;
    color: white;
}

#Profiel {
    float: right;

}

/* Footer */
footer {
    display: grid;
    grid-template-columns: 35vw 35vw;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin-top: 100px;
    padding: 25px 15vw;
    font-size: 1.2em;
    background-color: #262626;
    text-align: left;
}

footer a{
    text-decoration: none;
    color: #fffbbdb4;
}

footer a:hover{
    text-decoration: underline;
}
