.film {
  grid-area: film;
}

.flexbox {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 2em;
  margin-right: 2em;
  justify-content: space-evenly;
}

.flexbox img {
  width: 19vw;
  min-width: 100px;
}

.flexbox-assortiment {
  display: flex;
  flex-flow: row wrap;
  margin-left: 2em;
  margin-right: 2em;
  justify-content: space-evenly;
}

.flexbox-assortiment img {
  width: 12vw;
  min-width: 100px;
  margin: 0 20px 0;
}

.flexbox-titel {
  display: flex;
  justify-content: space-evenly;
}

.dropbtn {
  background-color: #93A8AC;
  color: #FFFBBD;
  padding: 16px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-left: 170vh;
}

.dropbtn:hover {
  background-color: #DF2935;
}

/* The container <div> - needed to position the dropdown content */

.flexbox-titel .dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.flexbox-titel .dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  width: 500px;
  box-shadow: 5px 5px 20px 30px rgba(0, 0, 0, 0.2);
  background-color: #262626;
  color: #FFFBBD;
}

/* Show the dropdown menu on hover */

.dropdown button {
  float: right;
  margin-bottom: 5vh;
  background-color: #A30000;
  border: none;
  color: #FFFBBD;
}

.flexbox-titel .dropdown:hover .flexbox-titel .dropdown-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  padding: 2px;
}

.flexbox-titel .dropdown input[type='checkbox'] {
  border-radius: 7px;
  display: inline-block;
  cursor: pointer;
}

.flexbox-titel .dropdown label::after {
  content: "\a";
  white-space: pre;
}

.filter-header input {
  width: 90%;
  padding: 2px;
  border: none;
  margin: 8px 22px;
  font-size: 17px;
}

.row {
  display: flex;
  justify-content: space-around;
}

.row input {
  color: black;
  padding: 12px 16px;
  display: block;
}

.column {
  float: left;
  padding: 10px;
  height: auto;
}

.column label {
  opacity: 0.9;
}

@media only screen and (max-width: 1100px) {
  .dropbtn{
    margin-left: 80vh;
  }

}

@media only screen and (max-width: 700px) {
  .dropbtn{
    margin-left: 40vh;
  }

}
img {
  float: left;
  width:  15vw;
  height: 40vh;
  object-fit: cover;
  padding-bottom: 25px;
}